Facebook/src/conf/xml-resources/web-service-references/WSFacebook/wsdl/localhost_8080/WSFacebook/WSFacebook.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.com/">

<xs:element name="actCorreo" type="tns:actCorreo" />

<xs:element name="actPerfil" type="tns:actPerfil" />

<xs:element name="addSeguidor" type="tns:addSeguidor" />

<xs:element name="agregarUsuario" type="tns:agregarUsuario" />

<xs:element name="buscarUsuario" type="tns:buscarUsuario" />

<xs:element name="buscarUsuarioResponse" type="tns:buscarUsuarioResponse" />

<xs:element name="dejarSeguir" type="tns:dejarSeguir" />

<xs:element name="eliminarComentario" type="tns:eliminarComentario" />

<xs:element name="eliminarPerfil" type="tns:eliminarPerfil" />

<xs:element name="getPublicacionP" type="tns:getPublicacionP" />

<xs:element name="getPublicacionPResponse" type="tns:getPublicacionPResponse" />

<xs:element name="getPublicacionesP" type="tns:getPublicacionesP" />

<xs:element name="getPublicacionesPResponse" type="tns:getPublicacionesPResponse" />

<xs:element name="getSeguidores" type="tns:getSeguidores" />

<xs:element name="getSeguidoresResponse" type="tns:getSeguidoresResponse" />

<xs:element name="graficarArbolB" type="tns:graficarArbolB" />

<xs:element name="graficarSeguidores" type="tns:graficarSeguidores" />

<xs:element name="publicacionGroveShark" type="tns:publicacionGroveShark" />

<xs:element name="publicarTexto" type="tns:publicarTexto" />

<xs:element name="verificarUsuarioG" type="tns:verificarUsuarioG" />

<xs:element name="verificarUsuarioGResponse" type="tns:verificarUsuarioGResponse" />

<xs:complexType name="buscarUsuario">
<xs:sequence>
<xs:element name="pBusqueda" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfil" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfil">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0" />
<xs:element name="edad" type="xs:int" />
<xs:element name="estdoC" type="xs:string" minOccurs="0" />
<xs:element name="genero" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="pais" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actPerfil">
<xs:sequence>
<xs:element name="uEdad" type="xs:int" />
<xs:element name="uNombre" type="xs:string" minOccurs="0" />
<xs:element name="estCivil" type="xs:string" minOccurs="0" />
<xs:element name="uGenero" type="xs:string" minOccurs="0" />
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="uPais" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPerfil">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="uContra" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarComentario">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="sCorreo" type="xs:string" minOccurs="0" />
<xs:element name="pos" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicarTexto">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="sCorreo" type="xs:string" minOccurs="0" />
<xs:element name="titulo" type="xs:string" minOccurs="0" />
<xs:element name="contenido" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacionGroveShark">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="titulo" type="xs:string" minOccurs="0" />
<xs:element name="contenido" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarUsuario">
<xs:sequence>
<xs:element name="uContra" type="xs:string" minOccurs="0" />
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="uNombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublicacionesP">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublicacionesPResponse">
<xs:sequence>
<xs:element name="return" type="tns:listaPublicaciones" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaPublicaciones">
<xs:sequence />
</xs:complexType>

<xs:complexType name="actCorreo">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="nCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublicacionP">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublicacionPResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacion">
<xs:sequence>
<xs:element name="contenido" type="xs:string" minOccurs="0" />
<xs:element name="imagen" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:unsignedShort" />
<xs:element name="titulo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarSeguidores">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidores">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:avlSeguidores" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="avlSeguidores">
<xs:sequence />
</xs:complexType>

<xs:complexType name="addSeguidor">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="sCorreo" type="xs:string" minOccurs="0" />
<xs:element name="sNombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarArbolB">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verificarUsuarioG">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuarioGResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarSeguir">
<xs:sequence>
<xs:element name="uCorreo" type="xs:string" minOccurs="0" />
<xs:element name="sCorreo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>