Reportes/xml-resources/web-service-references/WSFacebook/wsdl/localhost_8080/WSFacebook/WSFacebook.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.com/" name="WSFacebook">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.com/" schemaLocation="http://localhost:8080/WSFacebook/WSFacebook?xsd=1" />
</xsd:schema>
</types>
<message name="graficarArbolB">
<part name="parameters" element="tns:graficarArbolB" />
</message>
<message name="actPerfil">
<part name="parameters" element="tns:actPerfil" />
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario" />
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse" />
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario" />
</message>
<message name="eliminarPerfil">
<part name="parameters" element="tns:eliminarPerfil" />
</message>
<message name="graficarSeguidores">
<part name="parameters" element="tns:graficarSeguidores" />
</message>
<portType name="WSFacebook">
<operation name="graficarArbolB">
<input wsam:Action="http://webservice.com/WSFacebook/graficarArbolB" message="tns:graficarArbolB" />
</operation>
<operation name="actPerfil">
<input wsam:Action="http://webservice.com/WSFacebook/actPerfil" message="tns:actPerfil" />
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://webservice.com/WSFacebook/buscarUsuarioRequest" message="tns:buscarUsuario" />
<output wsam:Action="http://webservice.com/WSFacebook/buscarUsuarioResponse" message="tns:buscarUsuarioResponse" />
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://webservice.com/WSFacebook/agregarUsuario" message="tns:agregarUsuario" />
</operation>
<operation name="eliminarPerfil">
<input wsam:Action="http://webservice.com/WSFacebook/eliminarPerfil" message="tns:eliminarPerfil" />
</operation>
<operation name="graficarSeguidores">
<input wsam:Action="http://webservice.com/WSFacebook/graficarSeguidores" message="tns:graficarSeguidores" />
</operation>
</portType>
<binding name="WSFacebookPortBinding" type="tns:WSFacebook">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="graficarArbolB">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="actPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="eliminarPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="graficarSeguidores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
</binding>
<service name="WSFacebook">
<port name="WSFacebookPort" binding="tns:WSFacebookPortBinding">
<soap:address location="http://localhost:8080/WSFacebook/WSFacebook" />
</port>
</service>
</definitions>